<ng-container *ngIf="errorMessage">
    <div class="alert alert-danger d-flex align-items-center">
        <span class="material-icons me-2">error</span>
        {{errorMessage}}
        <span
            class="material-icons ms-auto"
            (click)="hideError()"
        >
            close
        </span>
    </div>
</ng-container>
<div class="card">
    <div class="card-header text-white bg-info">{{pageTitle}}</div>
    <div class="card-body">
        <form
            novalidate
            [formGroup]="hotelForm"
            (ngSubmit)="saveHotel()"
        >
            <div class="form-group row mb-2">
                <label
                    for="hotelNameId"
                    class="col-md-2 col-form-label"
                >
                    Nom Hotel
                </label>
                <div class="col-md-8">
                    <input
                        id="hotelNameId"
                        type="text"
                        class="form-control"
                        formControlName="hotelName"
                        placeholder="Nom(obligatoire)"
                        [ngClass]="{'is-invalid':formErrors.hotelName}"
                    >
                    <span class="invalid-feedback">{{formErrors.hotelName}}</span>
                </div>
            </div>
            <div class="form-group row mb-2">
                <label
                    for="hotelPriceId"
                    class="col-md-2 col-form-label"
                >
                    Prix
                </label>
                <div class="col-md-8">
                    <input
                        id="hotelPriceId"
                        type="text"
                        class="form-control"
                        formControlName="price"
                        placeholder="Prix(obligatoire)"
                        [ngClass]="{'is-invalid':formErrors.price}"
                    >
                    <span class="invalid-feedback">{{formErrors.price}}</span>
                </div>
            </div>
            <div class="form-group row mb-2">
                <label
                    for="starRatingId"
                    class="col-md-2 col-form-label"
                >
                    Evaluation (1-5)
                </label>
                <div class="col-md-8">
                    <input
                        id="starRatingId"
                        type="text"
                        class="form-control"
                        formControlName="rating"
                        placeholder="Evaluation(1-5)"
                        [ngClass]="{'is-invalid':formErrors.rating}"
                    >
                    <span class="invalid-feedback">{{formErrors.rating}}</span>
                </div>
            </div>

            <div formArrayName="tags">
                <div
                    class="form-group row mb-2"
                    *ngFor="let tag of tags.controls; let i = index"
                >
                    <label
                        class="col-md-2 col-form-label"
                        [attr.for]="i"
                    >
                        {{ "Étiquette " + i }}
                    </label>

                    <div class="col-md-8">
                        <input
                            class="form-control"
                            [id]="i"
                            type="text"
                            placeholder="{{ 'Etiquette ' + i }}"
                            [formControlName]="i"
                        >
                    </div>
                    <button
                        class="col-md-1 btn btn-outline-danger btn-sm"
                        type="button"
                        (click)="deleteTag(i)"
                    >
                        Supprimer
                    </button>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2 mb-2">
                    <button
                        type="button"
                        class="btn btn-outline-primary btn-sm"
                        (click)="addTag()"
                    >
                        Ajouter une étiquette
                    </button>
                </div>
            </div>

            <div class="form-group row mb-2">
                <label
                    for="descriptionId"
                    class="col-md-2 col-form-label"
                >
                    Description
                </label>
                <div class="col-md-8">
                    <textarea
                        class="form-control"
                        id="descriptionId"
                        formControlName="description"
                    >
                    </textarea>
                </div>
            </div>
            <div class="form-group row mb-2">
                <div class="offset-md-2 col-md-4">
                    <button
                        type="submit"
                        class="btn btn-info mr-3"
                    >
                        sauvegarder
                    </button>
                    <button
                        class="btn btn-outline-secondary mr-3"
                        type="button"
                        routerLink="/hotels"
                    >
                        annuler
                    </button>
                    <button
                        class="btn btn-outline-danger"
                        type="button"
                        (click)="deleteHotel()"
                        [disabled]="hotel?.id===0"
                    >
                        supprimer
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
