<div class="container">
  <div class="card" *ngIf="hotel">
    <div class="card-header text-white bg-info">
      {{ hotel.hotelName | uppercase }}
    </div>

    <div class="card-body">
      <div class="row">
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-4">Nom:</div>
            <div class="col-md-8">{{ hotel.hotelName }}</div>
          </div>

          <div class="row">
            <div class="col-md-4">Description:</div>
            <div class="col-md-8">{{ hotel.description }}</div>
          </div>
          <div class="row">
            <div class="col-md-4">Prix:</div>
            <div class="col-md-8">
              {{
              hotel.price
              | currency: "EUR":"symbol":"1.2-2":"fr"
              | replaceComma
              }}
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">Note:</div>
            <div class="col-md-8">
              <app-star-rating [rating]="hotel.rating"></app-star-rating>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <img [src]="hotel.imageUrl" [title]="hotel.hotelName | uppercase" [alt]="hotel.hotelName"
            class="card-img-top" />
        </div>
      </div>
    </div>

    <div class="card-footer">
      <button class="btn btn-outline-info d-flex" (click)="backToList()">
        <span class="material-icons"> keyboard_arrow_left </span>
        Retour à la liste
      </button>
    </div>
  </div>
</div>
