<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a
        class="navbar-brand"
        [routerLink]="['']"
    >
        {{title}}
    </a>
    <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>

    <div
        class="collapse navbar-collapse"
        id="navbarSupportedContent"
    >
        <ul class="navbar-nav mr-auto">
            <li
                class="nav-item"
                routerLinkActive='Active'
            >
                <a
                    class="nav-link"
                    [routerLink]="['/home']"
                >
                    Acceuil
                </a>
            </li>
            <li
                class="nav-item"
                routerLinkActive='Active'
                [routerLinkActiveOptions]="{exact: true}"
            >
                <a
                    class="nav-link"
                    [routerLink]="['/hotels']"
                >
                    Liste
                </a>
            </li>
            <li
                class="nav-item"
                routerLinkActive='Active'
                [routerLinkActiveOptions]="{exact: true}"
            >
                <a
                    class="nav-link"
                    [routerLink]="['/hotels','0','edit']"
                >
                    Ajout d'hotel
                </a>
            </li>
        </ul>

    </div>
</nav>

<div class="mt-5 container">
    <router-outlet></router-outlet>
</div>
