<div class="container">
    <h2 *ngIf="hotels && hotels.length >0">{{title}}</h2>
    <button
        class="btn btn-primary d-flex"
        (click)="toggleIsNewBadge()"
    >
        <span class="material-icons">
            {{showBadge ? 'visibility_off':'visibility'}}
        </span>
        <span class="mx-2">
            {{showBadge ? 'Cacher' : 'Afficher'}} nouveau
        </span>
    </button>

    <hr>

    <div class="my-2">
        <div class="row">
            <div class="col-md-4">
                <span>Filtre actuel :</span>
                <b>{{hotelFilter}}</b>
            </div>
            <div class="col-md-8 form-group">
                <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="hotelFilter"
                >
            </div>
        </div>
    </div>

    <div
        class="alert alert-primary"
        *ngIf="!!receivedRating"
    >
        {{receivedRating}}
    </div>

    <div class="row row-cols-1 row-cols-md-3">
        <div
            class="col mb-4"
            *ngFor="let hotel of filteredHotels"
        >
            <div class="card">
                <img
                    class="card-img-top"
                    [src]="hotel.imageUrl"
                    [title]="hotel.hotelName | uppercase"
                    [alt]="hotel.hotelName"
                >
                <div class="card-body">

                    <h5 class="card-title">{{hotel.hotelName | titlecase}}</h5>
                    <p class="card-text">{{hotel.description}}</p>
                    <p class="card-text">
                        {{hotel.price | currency :'EUR':'symbol':'1.2-2':'fr' | replaceComma}}
                    </p>

                    <div class="d-flex justify-content-between align-items-baseline">
                        <app-star-rating
                            [rating]="hotel.rating"
                            (starRatingClicked)="receiveRatingClicked($event)"
                        >
                        </app-star-rating>
                        <span
                            class="material-icons bg-primary text-white p-2 rounded-circle btn"
                            [routerLink]="['/hotels',hotel.id,'edit']"
                        >
                            edit
                        </span>
                        <span
                            class="material-icons bg-info text-white p-2 rounded-circle btn"
                            [routerLink]="['/hotels',hotel.id]"
                        >
                            keyboard_arrow_right
                        </span>
                    </div>
                    <ng-container *ngFor="let tag of hotel.tags;let i=index">
                        <ng-container *ngIf="showBadge">
                            <span
                                class="badge rounded-pill"
                                [ngClass]="i % 2 === 0 ? 'bg-info' : 'bg-success mx-2'"
                            >
                                {{tag}}
                            </span>
                        </ng-container>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>

</div>
