<div class="star-container" [style.width.px]="starWidth" [title]="rating" (click)=sendRating()>

  <div class="star-wrapper">
    <span class="material-icons">star_rate</span>
    <span class="material-icons">star_rate</span>
    <span class="material-icons">star_rate</span>
    <span class="material-icons">star_rate</span>
    <span class="material-icons">star_rate</span>
  </div>
</div>
